/* Removing margin and padding from the body */

body {
    margin: 0 0;
    padding: 0 0;
}

/* Styling all unvisited links on the page */
a:link {
    color: #383b40 !important;
}


/* Creating and styling a navbar with flexbox and positioning it on the page*/
.flex-nav {
    display: flex;
    list-style-type: none;
    margin-top: 0.8em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
    align-items: baseline;
    line-height: 20px;
}

/* Adding a hover/visited effect to the navbar links */

.flex-nav a:hover {
    text-decoration: underline;
}

.flex-nav a:visited {
    color: #383b40;
}
/* Styling the Sign in button */
.flex-nav #sign-in-button {
    border: 1px solid #4285f4;
    font-weight: bold;
    background: #4387fd;
    color: #fff;
    cursor: pointer;
    padding: 0 14px;
    line-height: 28px;
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
}

/* Giving the sign in button a hover effect */
.flex-nav #sign-in-button:hover {
    box-shadow: 0px 0.6px 0px gray ;
    
}

/* Positioning the google apps logo */
.flex-nav li:nth-child(5) {
    position: relative;
    top: 0.5em;
}

/* Styling the google apps logo */
.flex-nav img {
    width: 25px;
    opacity: 0.6;
}

 /* spacing the left-portion of the navbar */

.nav-left-space {
     padding-right: 1.2em;
    }
/* spacing the right portion of the navbar */
    .nav-right-space {
    padding-left: 1.2em;
    }
/* Removing decoration from links */
    .flex-nav a {
    text-decoration: none;
    }
/* Positioning the right portions of the navbar / splitting the navbar in two */
 #nav-push-right {
        display: flex;
        margin-left: auto;
    }

/* Creating the Navbar without flexbox. Since i want to use flexbox this whole section is commented out. */
/* The purpose of keeping the code is to learn different ways for creating a navbar */
/* #navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
} */
/* Styling the Navbar */

/* #navbar a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
} */

/* Positioning the elements to the left and right within the navbar */

/* #navbar .navbar-left {
    float: left;
}

#navbar .navbar-right {
    float: right;
} */

/* Positioning the logo */

#google-logo {
    display: block;
    margin-top: 8.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

/* Creating and styling the searchbar's different contents */

#searchbar-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#searchbar-container {
    display: flex;
    width: 582.3px;
}

#searchbar-container:hover {
    box-shadow: 0 0 5px #888888;
    border-radius: 25px;
}

#left-searchbar {
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 75%;
    padding-left: 1em;
    margin: 0;
    width: 39.55px;
}

/* inserting the image and adjusting the searchbar size according to the placeholder text and image */
#left-searchbar img {
    margin-top: 14px;
    opacity: 0.5;
}

#right-searchbar p {
    visibility: hidden;
    font-size: 14px;
}

#center-searchbar {

    box-sizing: border-box;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0 1em;
    width: 503.2px;
    margin: 0;
}

#search-field, input[type=text] {
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;

}

/* Removing the black border element that is standard in chrome for focused input fields */
input[type=text]:focus {
    outline: none;
}

#right-searchbar {
    box-sizing: border-box;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
    padding-right: 1em;
    margin: 0;
    width: 39.55px;
}



/* Positioning, styling the buttons and creating hover effects */

.searchbar-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.searchbar-buttons button {
    display: border-box;
    border-radius: 4px;
    inset: unset;
    padding: 10px 16px;
    margin-left: 15px;
    font-family: arial, sans-serif;
    font-size: 15px;
    border: none;
    background-color: #f5f5f5;
    color: #787878
}

.searchbar-buttons button:hover {
    display: border-box;
    box-shadow: 0px 0px 1px #474747;
    color: #262626;
    inset: initial;
}



/* Styling the flexbox footer, positioning the links within the containers and the footer on the page*/

#flex-footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0em;
    width: 98%;
    height: 3%;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-top: 0.8em;
    padding-left: 1em;
    padding-right: 2em;
}

/* Creating hover effects on the footer */

#flex-footer a:hover {
    text-decoration: underline;
}

/* Removing the purple-ish color form visited links */

#flex-footer a:visited {
    color: #383b40;
}

/* Some positioning on the left hand side of the footers content */

#flex-footer-left a {
    padding-right: 0.8em;
    margin-left: 1em;
    text-decoration: none;
}


/* Some positioning on the right hand side of the footers content */

#flex-footer-right a {
    padding-left: 0.8em;
    margin-right: 0.8em;
    text-decoration: none;
}

/* Styling the non flexbox footer and positioning it on the bottom of the page NOTE: since i want to use flexbox this whole section is commented out. */
/* The purpose of keeping the code is to learn different ways for creating a footer */

/* #footer {
    list-style-type: none;
    margin: 0;
    width: 99%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
}

#footer a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
} */

/* Positioning the elements to the left and right within the non flexbox footer */

/* #footer .footer-left {
    float: left;
}

#footer .footer-right {
    float: right;
} */