/* Creating the Navbar */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
/* Styling the Navbar */

#navbar a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Positioning the elements to the left and right within hte navbar */

#navbar .navbar-left {
    float: left;
}

#navbar .navbar-right {
    float: right;
}



#google-logo {
    display: block;
    margin-top: 8.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

#google-searchbar {
    display: block;
    margin: 0 auto;
}

.searchbar-buttons {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li {
    float: left;
}