/* Creating a navbar with flexbox */

.flex-nav {
    display: flex;
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

    /* spacing the left-portion of the navbar */

    .nav-left-space {
        padding-right: 2em;
    }

    /* spacing the right portion of the navbar */
    .nav-right-space {
        padding-left: 2em;
    }

    /* Removing decoration from links */
    .flex-nav a {
        text-decoration: none;
        
    }

    /* Positioning the right portions of the navbar / splitting the navbar in two */

    #nav-push-right {
        display: flex;
        margin-left: auto;
    }




/* Creating the Navbar */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
/* Styling the Navbar */

#navbar a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Positioning the elements to the left and right within the navbar */

#navbar .navbar-left {
    float: left;
}

#navbar .navbar-right {
    float: right;
}

/* Positioning the logo */

#google-logo {
    display: block;
    margin-top: 8.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

/* Positioning the searchbar */

#google-searchbar {
    display: block;
    margin: 0 auto;
}

/* Positioning the buttons */

.searchbar-buttons {
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* Styling the footer and positioning it on the bottom of the page*/

#footer {
    list-style-type: none;
    margin: 0;
    width: 99%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
}

#footer a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Positioning the elements to the left and right within the footer */

#footer .footer-left {
    float: left;
}

#footer .footer-right {
    float: right;
}